/* ==========================================================================
  VARIABLES
/* ========================================================================== */

/* fonts */

$mainFont: "Open Sans", "Arial", sans-serif;

/* font weights */

$flight: 300;
$fregular: 400;
$fsemibold: 600;
$fbold: 700;

/* width */

$containerWidth: 890px;



/* colors */
$black: #000000;
$white: #fff;