/* ==========================================================================
  VARIABLES
/* ========================================================================== */

/* fonts */

$mainFont: "Open Sans", "Arial", sans-serif;

/* font weights */

$flight: 300;
$fregular: 400;
$fsemibold: 600;
$fbold: 700;

/* font sizes */

$size1: 1.375rem; // 22px
$size15: 1.25rem; // 20px
$size2: 1.125rem; // 18px

$sizeRg: 1rem; // 16px;

$size3: 0.875rem; // 14px;
$size35: 0.75rem; //12px
$size4: 0.625rem; // 10px;
$size45: 0.5rem; // 8px;

/* width */

$containerWidth: 890px;



/* colors */
$black: #000000;
$white: #fff;